<div class="container-fluid">
 
  <div class="w3-card-4 bg-white m-3">
    <h3 class="p-3">My Services</h3>
    <hr>

<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#consulting" role="tab">Consulting</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#syndicate" role="tab">Syndicate</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#custom" role="tab">Custom</a>
    </li>
    </ul>
  
  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane active p-3" id="consulting" role="tabpanel">
        <h4><u> Our consulting services include</u> </h4>

        <ul>
          <li>Reports on niche markets</li>
          <li>Competitive Analysis for key players</li>
          <li>Market Estimations</li>
          <li>Country/Regional reports</li>
        </ul>   
     
    </div>

    <div class="tab-pane p-3" id="syndicate" role="tabpanel">
        <h4><u> Syndicate</u></h4>
        
        <p>These are our off-shelf reports updated every year based on the information from the key
        opinion leaders in the market and subject matter experts. These reports include market
        estimations for global markets, key trends &amp; opportunities in the market, and key trends in the
        regional markets.</p><br>
        <p>The structure of our syndicate report is as follows:</p>
<ul>

        <li> Introduction Research Methodology</li>
        <li> Executive Summary</li>
        <li> Market Dynamics</li>
        <ul>
          <li>Drivers Analysis</li>
          <li>Restraint Analysis</li>
          <li>Challenges</li>
          <li>Key Opportunities</li>
          <li>Key Trends</li>
          <li>Porter’s Five Forces Analysis</li>
        </ul>
        <li> Segmentation Chapters</li>
        <li> Regional Analysis</li>
        
        <ul>
            <li>North America</li>
            <li>Europe</li>
            <li>Asia Pacific</li>
            <li>Latin America</li>
            <li>Middle East Africa</li>
          </ul>
          <li> Competitive Scenario</li>
          <ul>
              <li>Key companies operating in the market</li>
              <li>Market Share Analysis</li>
              <li>Company Profiles</li>
            </ul>
  
      </ul>
      
    </div>

    <div class="tab-pane p-3" id="custom" role="tabpanel">
        <h4><u>Custom</u></h4>
        <p> custom services include market estimations at regional or country levels, special company
        profiling, reports on sub-segments of our existing reports, and any other custom research reports
        based on client requirements</p>
      
    
    </div>
  </div>
</div>