<div class="container-fluid">
 
  <div class="w3-card-4 bg-white m-3">
    <h3 class="p-3">About Us!</h3>
    <hr>


    <p class="p-3">Global Market Forecasts is a global business intelligence and consulting firm aimed at assisting
      our clients to make critical business decisions and achieve exponential growth in their business.
      We focus on emerging markets and technologies, and insights on niche markets. Our reports
      include information on recent trends and innovations. Our pool of more than 300 off-shelf
      reports in each industry and customized reports based on the client’s requirement aids our
      client in making faster business decisions.</p>

  </div>
</div>